# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
dist/**

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Temporary files
*.sw?
*~

# Mac
.DS_Store

# Go work
go.work
go.work.sum


.vscode
.env
.envrc
.idea

# certificates
*.cer
*.crt
*.pfx
